.settings-panel{
	width: 270px;
	position: fixed;
	right: -270px;
	top: 82px;	
	padding-top: 17px;
	padding-bottom: 17px;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	-khtml-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;	
	background-color: #263238;	
	z-index: 208;	
}

.settings-panel.active{
	right: 0;
	-webkit-box-shadow: 0 0 15px rgba(38, 50, 56, 0.5);
	-moz-box-shadow: 0 0 15px rgba(38, 50, 56, 0.5);
	box-shadow: 0 0 15px rgba(38, 50, 56, 0.5);
}

.settings-panel .panel-title{
	height: 48px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 24px;
	font-family: "Museo Sans Cyrl 700", sans-serif;
	font-size: 20px;
	color: #fff;
	line-height: 24px;	
	background-color: #253036;
}

.settings-panel .switch{
	width: 48px;
	height: 48px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	left: -48px;
	top: 17px;
	text-align: center;	
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	-khtml-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	-webkit-box-shadow: 0 0 15px rgba(38, 50, 56, 0.5);
	-moz-box-shadow: 0 0 15px rgba(38, 50, 56, 0.5);
	box-shadow: 0 0 15px rgba(38, 50, 56, 0.5);
	background-color: #253036;
	cursor: pointer;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.settings-panel .switch:hover{
	background-color: #6639b6;
}

.settings-panel.active .switch{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.settings-panel .switch i{
	font-size: 24px;
}

.settings-panel .switch:hover i{
	-webkit-animation: loaderRotate1 2s linear infinite;
	animation: loaderRotate1 2s linear infinite;
}

.settings-panel .panel-block{	
	width: 100%;
	display: table;
	border-bottom: 1px solid #455a64;
}

.settings-panel .block-title{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 24px;
	cursor: pointer;
}

.settings-panel .block-title span,
.settings-panel .block-title i{		
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.settings-panel .block-title span{	
	color: #ced9db;	
}

.settings-panel .block-title i{
	margin-left: 12px;
	font-size: 20px;
	color: #697f84;	
}

.settings-panel .block-title:hover span,
.settings-panel .block-title:hover i{
	color: #fff;
}

.settings-panel .block-options{	
	display: none;	
	padding: 0 24px 12px;	
}

.settings-panel .selectbox{
	width: 100%;
	float: left;
	padding-right: 18px;
}

.settings-panel .block-option{
	margin-bottom: 6px;
}

.settings-panel .selectbox .block-option{
	float: left;
	margin-right: 6px;	
}

.settings-panel .block-option input[type=radio],
.settings-panel .block-option input[type=checkbox]{
	display: none;
}

.settings-panel .block-option label{
	margin-bottom: 0;
	font-weight: 300;
	cursor: pointer;
}

.settings-panel .selectbox label{		
	display: block;	
	padding: 7px 12px;	
	font-size: 14px;
	color: #ced9db;
	line-height: 17px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	background-color: #455a64;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.settings-panel .selectbox label:hover{
	color: #fff;
	background-color: #78909c;
}

.settings-panel .selectbox input:checked + label{
	color: #fff;
	background-color: #6639b6;
}

.settings-panel .color label{
	width: 32px;
	height: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0;
	border: 2px solid transparent;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}

.settings-panel .color label:hover,
.settings-panel .color input:checked + label{
	border-color: #fff;
}

.settings-panel .color label i{
	display: none;
}

.settings-panel .color input:checked + label i{
	display: inline-block;
	font-size: 13px;
}

.settings-panel .block-option-custom{	
	float: left;
	margin-top: 6px;	
}

.settings-panel .block-option-custom input[type=text]{
	width: 81px;
	height: 32px;
	float: left;	
	padding: 0;	
	font-family: "Museo Sans Cyrl 300", sans-serif;
	font-size: 14px;
	color: #263238;
	text-align: center;	
	border: 1px solid #ced9db;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}

.settings-panel .block-option-custom button{
	width: 97px;
	height: 32px;
	float: left;
	margin-left: 6px;
	padding: 0;	
	font-size: 14px;
	line-height: 17px;
}

.settings-panel .block-option-custom button i{			
	font-size: 16px;
	padding-right: 8px;
}

.settings-panel .multiselectbox label{	
	display: table;	
}

.settings-panel .multiselectbox .check-cont,
.settings-panel .multiselectbox .check-title{
	display: table-cell;
	vertical-align: middle;
}

.settings-panel .multiselectbox .check-cont{
	width: 18px;
}

.settings-panel .multiselectbox .check{
	width: 18px;
	height: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	background-color: #697f84;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.settings-panel .multiselectbox label:hover .check,
.settings-panel .multiselectbox input:checked + label:hover .check{	
	background-color: #6639b6;
}

.settings-panel .multiselectbox input:checked + label .check{	
	background-color: #99cc33;
}

.settings-panel .multiselectbox .check i{	
	display: none;
	font-size: 11px;
	color: #fff;	
}

.settings-panel .multiselectbox input:checked + label .check i{
	display: inline-block;	
}

.settings-panel .multiselectbox .check-title{	
	padding-left: 9px;
	font-size: 14px;
	color: #ced9db;
	line-height: 17px;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.settings-panel .multiselectbox label:hover .check-title{
	color: #fff;
}

.settings-panel .reset{
	padding: 18px 24px 0;	
	border: none;
}

.settings-panel .reset button{
	width: 100%;
	height: 32px;	
	padding: 0;
	font-size:14px;
	line-height: 17px;
}

.settings-panel .reset button i{		
	padding-right: 9px;	
	font-size: 16px;
}

/***PALETTE***/
.palette_cont{
	position: fixed !important;
	left: auto !important;
	right: 12px;
	border: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
    -webkit-box-shadow: 0 0 15px rgba(38, 50, 56, 0.5);
	-moz-box-shadow: 0 0 15px rgba(38, 50, 56, 0.5);
	box-shadow: 0 0 15px rgba(38, 50, 56, 0.5);
	background-color: #455a64;
}

.palette_cont .sp-picker-container{
	width: 222px;	
	padding: 12px 12px 302px;	
}

.palette_cont .sp-cf{
	width: 100%;
	float: left;
}

.palette_cont .sp-top{
	margin-bottom: 12px;
}

.palette_cont .sp-cancel,
.palette_cont .sp-choose{
	height: 32px;
	float: right;
	padding: 0 12px;
	font-family: "Museo Sans Cyrl 300", sans-serif;
	font-size: 14px;
	line-height: 17px;
}

.palette_cont .sp-cancel{
	margin-right: 6px;
}