@font-face {
    font-family: '32-clothing-efn';
    src:  url('../../fonts/efn/32-clothing-efn.eot?uvlhry');
    src:  url('../../fonts/efn/32-clothing-efn.eot?uvlhry#iefix') format('embedded-opentype'),
    url('../../fonts/efn/32-clothing-efn.ttf?uvlhry') format('truetype'),
    url('../../fonts/efn/32-clothing-efn.woff?uvlhry') format('woff'),
    url('../../fonts/efn/32-clothing-efn.svg?uvlhry#32-clothing-efn') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="efn32-"], [class*=" efn32-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '32-clothing-efn' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.efn32-female:before {
    content: "\e908";
}
.efn32-male:before {
    content: "\e90e";
}
.efn32-girl:before {
    content: "\e90a";
}
.efn32-boy:before {
    content: "\e906";
}
.efn32-baby:before {
    content: "\e900";
}
.efn32-dress:before {
    content: "\e922";
}
.efn32-shirt:before {
    content: "\e92c";
}
.efn32-singlet:before {
    content: "\e92e";
}
.efn32-pants:before {
    content: "\e92a";
}
.efn32-shorts:before {
    content: "\e92d";
}
.efn32-skirt:before {
    content: "\e92f";
}
.efn32-formal-shirt:before {
    content: "\e923";
}
.efn32-women-hat:before {
    content: "\e91d";
}
.efn32-men-hat:before {
    content: "\e910";
}
.efn32-baseball-cap:before {
    content: "\e901";
}
.efn32-hat:before {
    content: "\e93a";
}
.efn32-winter-hat:before {
    content: "\e919";
}
.efn32-bathrobe:before {
    content: "\e902";
}
.efn32-high-heels:before {
    content: "\e926";
}
.efn32-sneakers:before {
    content: "\e930";
}
.efn32-boots:before {
    content: "\e904";
}
.efn32-women-boots:before {
    content: "\e91b";
}
.efn32-rubber-boots:before {
    content: "\e912";
}
.efn32-ugg-boot:before {
    content: "\e917";
}
.efn32-children-shoes:before {
    content: "\e921";
}
.efn32-slippers:before {
    content: "\e914";
}
.efn32-summer-sandals:before {
    content: "\e916";
}
.efn32-male-shoes:before {
    content: "\e90f";
}
.efn32-football-boots:before {
    content: "\e909";
}
.efn32-socks:before {
    content: "\e931";
}
.efn32-glove:before {
    content: "\e90b";
}
.efn32-mittens:before {
    content: "\e911";
}
.efn32-scarf:before {
    content: "\e92b";
}
.efn32-winter-scarf:before {
    content: "\e91a";
}
.efn32-bra:before {
    content: "\e920";
}
.efn32-women-underwear:before {
    content: "\e93b";
}
.efn32-lingerie:before {
    content: "\e90d";
}
.efn32-swimsuit:before {
    content: "\e935";
}
.efn32-sexy-lingerie:before {
    content: "\e913";
}
.efn32-swimming-trunks:before {
    content: "\e934";
}
.efn32-men-underwear:before {
    content: "\e929";
}
.efn32-baby-body:before {
    content: "\e91e";
}
.efn32-jacket:before {
    content: "\e928";
}
.efn32-sweater:before {
    content: "\e933";
}
.efn32-vest-jacket:before {
    content: "\e937";
}
.efn32-waistcoat:before {
    content: "\e938";
}
.efn32-sport-suit:before {
    content: "\e932";
}
.efn32-hoodie:before {
    content: "\e927";
}
.efn32-umbrella:before {
    content: "\e918";
}
.efn32-glasses:before {
    content: "\e924";
}
.efn32-bow-tie:before {
    content: "\e905";
}
.efn32-tie:before {
    content: "\e936";
}
.efn32-bijouterie:before {
    content: "\e903";
}
.efn32-watch:before {
    content: "\e939";
}
.efn32-belt:before {
    content: "\e91f";
}
.efn32-women-clutch:before {
    content: "\e91c";
}
.efn32-summer-bag:before {
    content: "\e915";
}
.efn32-handbag:before {
    content: "\e925";
}
.efn32-briefcase:before {
    content: "\e907";
}
.efn32-hanger:before {
    content: "\e90c";
}