.brands-wrapper{
	width: 100%;
	background: #f1f6f7;
}

.brands-wrapper .h1{
	padding: 64px 0 32px;
}

.block-brands{
	padding-bottom: 32px;
}
.container-ws.hide_container .block-brands{
height: 44px;
    overflow: hidden;
    padding: 0;

}
.container-ws .block-brands{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 64px;
}

.container-ws .block-brands:before,
.container-ws .block-brands:after{
	content: none;
}

.container-ws .block-brands [class*="col-"]{
	width: 12.5%; /***8 columns***/
}

/***ITEM***/
.brands-item{
	height: 166px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 32px;
	padding: 14px 12px 10px;
	position: relative;	
	border: 1px solid #e3ecef;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;	
	background: #fff;
}

.brands-item:link,
.brands-item:visited{
	text-decoration: none;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.container-ws .brands-item{
	margin: 0;
	border-left: none;
	border-right: 1px solid #e8edef;
	border-top: none;
	border-bottom: 1px solid #e8edef;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;

height:auto;
}

.bx-no-touch .brands-item:hover,
.bx-touch .brands-item:active{
	-webkit-box-shadow: 0 0 36px rgba(38, 50, 56, 0.16);
	-moz-box-shadow: 0 0 36px rgba(38, 50, 56, 0.16);
	box-shadow: 0 0 36px rgba(38, 50, 56, 0.16);
	z-index: 202;
}

/***ITEM_IMAGE***/
.brands-item-image{
	width: 112px;
	height: 56px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
}

.brands-item-image > img{
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 56px;
}

/***ITEM_MARKERS***/
.brands-item-markers{	
	position: absolute;
	left: 12px;
	right: 12px;
	top: 12px;
	z-index: 200;
}

.brands-item-marker-container{
	max-width: 100%;
	float: left;
	clear: left;
}

.brands-item-marker-container + .brands-item-marker-container{
	margin-top: 4px;
}

.brands-item-marker{	
	display: flex;
	align-items: center;	
	padding: 9px 12px 8px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;	
}

.brands-item-marker-14px{
	padding-top: 6px;
	padding-bottom: 5px;
}

.brands-item-marker-24px{
	padding-top: 7px;
	padding-bottom: 6px;
}

.brands-item-marker > i{
	margin-right: 7px;
	font-size: 18px;
	color: #fff;
}

.brands-item-marker-14px > i{
	font-size: 14px;
}

.brands-item-marker-24px > i{
	font-size: 24px;
}

.brands-item-marker > span{
	overflow: hidden;	
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.brands-item-marker-14px > span{
	font-size: 14px;
	line-height: 17px;
}

.brands-item-marker-24px > span{
	font-size: 24px;
	line-height: 29px;
}

/***ITEM_TITLE***/
.brands-item-title{
	width: 100%;
	margin-top: 24px;
	color: #263238;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
	margin:0;
}

.bx-no-touch .brands-item:hover .brands-item-title,
.bx-touch .brands-item:active .brands-item-title{
	color: #6639b6;
}

/***ITEM_TEXT***/
.brands-item-text{
	width: 100%;
	margin-top: 6px;
	font-size: 14px;
	line-height: 17px;
	color: #78909c;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/***BUTTONS***/
.brands-buttons{
	display: flex;
	justify-content: center;
	margin-top: 32px;
	padding-bottom: 64px;
}

/***PHONES***/
@media(max-width: 1042px){
	.brands-wrapper .h1{
		padding: 32px 0 18px;
	}

	.container-ws .block-brands:before{		
		width: 100%;
		height: 1px;
		display: block !important;		
		content: "" !important;
		background: #e8edef;
	}

	.block-brands{
		margin-left: -6px !important;
		margin-right: -6px !important;
		padding-bottom: 20px;
	}

	.container-ws .block-brands{
		margin-left: -18px !important;
		margin-right: -18px !important;
		padding-bottom: 32px;
	}

	.block-brands [class*="col-"]{
		padding-left: 6px;
		padding-right: 6px;
	}

	.container-ws .block-brands [class*="col-"]{
		width: 50%;
		padding-left: 0;
		padding-right: 0;
	}
	
	/***ITEM***/
	.brands-item{
		margin-bottom: 12px;
	}

	.container-ws .block-brands [class*="col-"]:nth-child(2n+2) .brands-item{
		border-right: none;
	}

	/***ITEM_MARKERS***/
	.brands-item-marker{	
		padding-left: 8px;
		padding-right: 8px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
		border-radius: 3px;	
	}

	.brands-item-marker,
	.brands-item-marker-14px,
	.brands-item-marker-24px{
		padding-top: 3px;
		padding-bottom: 2px;
	}
	
	.brands-item-marker > i{
		margin-right: 5px;
	}

	.brands-item-marker > i,
	.brands-item-marker-14px > i,
	.brands-item-marker-24px > i{		
		font-size: 11px;
	}
	
	.brands-item-marker > span,
	.brands-item-marker-14px > span,
	.brands-item-marker-24px > span{
		font-size: 11px;
		line-height: 16px;
	}

	/***BUTTONS***/
	.brands-buttons{
		margin-top: -14px;
		padding-bottom: 32px;
	}

	.brands-buttons > .btn{
		width: 100%;
	}
}

/***DESKTOPS_LARGE_DESKTOPS***/
@media(min-width: 1043px){
	.container-ws .block-brands [class*="col-"]:nth-child(1) .brands-item,
	.container-ws .block-brands [class*="col-"]:nth-child(2) .brands-item,
	.container-ws .block-brands [class*="col-"]:nth-child(3) .brands-item,
	.container-ws .block-brands [class*="col-"]:nth-child(4) .brands-item,
	.container-ws .block-brands [class*="col-"]:nth-child(5) .brands-item{
		border-top: 1px solid #e8edef;
	}
}

@media(min-width: 1043px) and (max-width: 1103px){
	.container-ws .block-brands [class*="col-"]{
		width: 20%; /***5 columns***/
	}

	.container-ws .block-brands [class*="col-"]:nth-child(5n+5) .brands-item{
		border-right: none;
	}
}

@media(min-width: 1104px) and (max-width: 1379px){
	.container-ws .block-brands [class*="col-"]{
		width: 16.66666667%; /***6 columns***/
	}

	.container-ws .block-brands [class*="col-"]:nth-child(6) .brands-item{
		border-top: 1px solid #e8edef;
	}

	.container-ws .block-brands [class*="col-"]:nth-child(6n+6) .brands-item{
		border-right: none;
	}
}

@media(min-width: 1380px) and (max-width: 1545px){
	.container-ws .block-brands [class*="col-"]{
		width: 14.28571429%; /***7 columns***/
	}
	
	.container-ws .block-brands [class*="col-"]:nth-child(6) .brands-item,
	.container-ws .block-brands [class*="col-"]:nth-child(7) .brands-item{
		border-top: 1px solid #e8edef;
	}
	
	.container-ws .block-brands [class*="col-"]:nth-child(7n+7) .brands-item{
		border-right: none;
	}
}

@media(min-width: 1546px) and (max-width: 1701px){
	.container-ws .block-brands [class*="col-"]{
		width: 14.28571429%; /***7 columns***/
	}
	
	.slide-menu-interface-2-0-1 .container-ws .block-brands [class*="col-"],
	.slide-menu-option-1-active .container-ws .block-brands [class*="col-"]{
		width: 16.66666667%; /***6 columns***/
	}
	
	.container-ws .block-brands [class*="col-"]:nth-child(6) .brands-item{
		border-top: 1px solid #e8edef;
	}

	body:not(.slide-menu-interface-2-0-1):not(.slide-menu-option-1-active) .container-ws .block-brands [class*="col-"]:nth-child(7) .brands-item{
		border-top: 1px solid #e8edef;
	}
	
	body:not(.slide-menu-interface-2-0-1):not(.slide-menu-option-1-active) .container-ws .block-brands [class*="col-"]:nth-child(7n+7) .brands-item{
		border-right: none;
	}
	
	.slide-menu-interface-2-0-1 .container-ws .block-brands [class*="col-"]:nth-child(6n+6) .brands-item,
	.slide-menu-option-1-active .container-ws .block-brands [class*="col-"]:nth-child(6n+6) .brands-item{
		border-right: none;
	}
}

@media(min-width: 1702px){
	.slide-menu-option-1-active .container-ws .block-brands [class*="col-"]{
		width: 14.28571429%; /***7 columns***/
	}
	
	.container-ws .block-brands [class*="col-"]:nth-child(6) .brands-item,
	.container-ws .block-brands [class*="col-"]:nth-child(7) .brands-item,
	body:not(.slide-menu-option-1-active) .container-ws .block-brands [class*="col-"]:nth-child(8) .brands-item{
		border-top: 1px solid #e8edef;
	}
	
	body:not(.slide-menu-option-1-active) .container-ws .block-brands [class*="col-"]:nth-child(8n+8) .brands-item{
		border-right: none;
	}
	
	.slide-menu-option-1-active .container-ws .block-brands [class*="col-"]:nth-child(7n+7) .brands-item{
		border-right: none;
	}
}