.faq-items{
	border-top: 1px solid #e3ecef;
}

.faq-item{
	border-bottom: 1px solid #e3ecef;
}

.faq-item.active{
	background: #f1f6f7;
}

.faq-item-title-container{
	display: flex;
	align-items: center;
	padding: 24px;
	cursor: pointer;
}

.faq-item-icon-ok > i{
	font-size: 20px;
	color: #008d55;
}

.faq-item-title{
	flex: 1;
	margin: 0 12px;
	font-family: "Museo Sans Cyrl 700", sans-serif;
	font-size: 16px;
	line-height: 19px;
}

.faq-item-icon-arrow > i{
	font-size: 24px;
	color: #b2c7cb;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .faq-item-title-container:hover .faq-item-icon-arrow > i,
.bx-touch .faq-item-title-container:active .faq-item-icon-arrow > i{
	color: #6639b6;
}

.faq-item-descr{
	padding: 24px;
	display: none;
}

.faq-item.active .faq-item-descr{
	display: block;
}

/***PHONES***/
@media(max-width: 1042px){
	.faq-items{
		margin-left: -18px;
		margin-right: -18px;
	}

	.faq-item-title-container,
	.faq-item-descr{
		padding: 18px;
	}
}