@font-face {
  font-family: '01-power-tools-efn';
  src:  url('../../fonts/efn/01-power-tools-efn.eot?65icca');
  src:  url('../../fonts/efn/01-power-tools-efn.eot?65icca#iefix') format('embedded-opentype'),
    url('../../fonts/efn/01-power-tools-efn.woff2?65icca') format('woff2'),
    url('../../fonts/efn/01-power-tools-efn.ttf?65icca') format('truetype'),
    url('../../fonts/efn/01-power-tools-efn.woff?65icca') format('woff'),
    url('../../fonts/efn/01-power-tools-efn.svg?65icca#01-power-tools-efn') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="efn01-"], [class*=" efn01-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '01-power-tools-efn' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.efn01-electric-screwdriver:before {
  content: "\e900";
}
.efn01-impact-wrench:before {
  content: "\e901";
}
.efn01-drill:before {
  content: "\e902";
}
.efn01-hammer-drill:before {
  content: "\e903";
}
.efn01-cordless-screwdriver:before {
  content: "\e904";
}
.efn01-drill-bits:before {
  content: "\e905";
}
.efn01-angle-grinder:before {
  content: "\e906";
}
.efn01-polish-machine:before {
  content: "\e907";
}
.efn01-circular-saw:before {
  content: "\e908";
}
.efn01-circular-blade:before {
  content: "\e909";
}
.efn01-wall-chaser:before {
  content: "\e90a";
}
.efn01-electric-jigsaw:before {
  content: "\e90b";
}
.efn01-electric-hacksaw:before {
  content: "\e90c";
}
.efn01-electric-planer:before {
  content: "\e90d";
}
.efn01-chainsaw:before {
  content: "\e90e";
}
.efn01-electric-scissors:before {
  content: "\e90f";
}
.efn01-electric-metal-cutter:before {
  content: "\e910";
}
.efn01-construction-mixer:before {
  content: "\e911";
}
.efn01-jackhammer:before {
  content: "\e912";
}
.efn01-sanding-machine:before {
  content: "\e913";
}
.efn01-spray-gun:before {
  content: "\e914";
}
.efn01-airbrush:before {
  content: "\e915";
}
.efn01-heat-gun:before {
  content: "\e916";
}
.efn01-engraver:before {
  content: "\e917";
}
