@font-face {
  font-family: '02-auto-efn';
  src:  url('../../fonts/efn/02-auto-efn.eot?1aqsw1');
  src:  url('../../fonts/efn/02-auto-efn.eot?1aqsw1#iefix') format('embedded-opentype'),
    url('../../fonts/efn/02-auto-efn.ttf?1aqsw1') format('truetype'),
    url('../../fonts/efn/02-auto-efn.woff?1aqsw1') format('woff'),
    url('../../fonts/efn/02-auto-efn.svg?1aqsw1#02-auto-efn') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="efn02-"], [class*=" efn02-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '02-auto-efn' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.efn02-car:before {
  content: "\e900";
}
.efn02-engine:before {
  content: "\e901";
}
.efn02-car-turbine:before {
  content: "\e934";
}
.efn02-motor-oil:before {
  content: "\e902";
}
.efn02-technical-fluids:before {
  content: "\e903";
}
.efn02-canister:before {
  content: "\e904";
}
.efn02-car-light:before {
  content: "\e905";
}
.efn02-headlight:before {
  content: "\e906";
}
.efn02-rear-light:before {
  content: "\e907";
}
.efn02-car-lamp:before {
  content: "\e908";
}
.efn02-spark-plug:before {
  content: "\e909";
}
.efn02-accumulator:before {
  content: "\e90a";
}
.efn02-oil-filters:before {
  content: "\e90b";
}
.efn02-oil-filter:before {
  content: "\e90c";
}
.efn02-air-filter:before {
  content: "\e90d";
}
.efn02-air-filter-round:before {
  content: "\e90e";
}
.efn02-wheel:before {
  content: "\e90f";
}
.efn02-alloy-wheels:before {
  content: "\e910";
}
.efn02-steel-wheels:before {
  content: "\e911";
}
.efn02-tires:before {
  content: "\e912";
}
.efn02-tire:before {
  content: "\e913";
}
.efn02-tires-summer:before {
  content: "\e914";
}
.efn02-tires-winter:before {
  content: "\e915";
}
.efn02-tires-all-season:before {
  content: "\e916";
}
.efn02-steering-wheel:before {
  content: "\e917";
}
.efn02-manual-transmission:before {
  content: "\e918";
}
.efn02-automatic-transmission:before {
  content: "\e919";
}
.efn02-brake-disc:before {
  content: "\e91a";
}
.efn02-clutch:before {
  content: "\e91b";
}
.efn02-piston:before {
  content: "\e91c";
}
.efn02-timing-belt:before {
  content: "\e91d";
}
.efn02-exhaust-pipe:before {
  content: "\e91e";
}
.efn02-car-body:before {
  content: "\e91f";
}
.efn02-front-car-door:before {
  content: "\e920";
}
.efn02-car-door:before {
  content: "\e921";
}
.efn02-car-fender:before {
  content: "\e922";
}
.efn02-car-hood:before {
  content: "\e923";
}
.efn02-car-bumper:before {
  content: "\e924";
}
.efn02-car-grille:before {
  content: "\e925";
}
.efn02-car-radiator:before {
  content: "\e926";
}
.efn02-car-thresholds:before {
  content: "\e927";
}
.efn02-suspension:before {
  content: "\e928";
}
.efn02-shock-absorber:before {
  content: "\e929";
}
.efn02-cv-joint:before {
  content: "\e92a";
}
.efn02-drive-shaft:before {
  content: "\e92b";
}
.efn02-rearview-mirror:before {
  content: "\e92c";
}
.efn02-side-mirror:before {
  content: "\e92d";
}
.efn02-windshield:before {
  content: "\e92e";
}
.efn02-wipers:before {
  content: "\e92f";
}
.efn02-tow-hitch:before {
  content: "\e930";
}
.efn02-car-mats:before {
  content: "\e931";
}
.efn02-trunk-mat:before {
  content: "\e93a";
}
.efn02-mud-flap:before {
  content: "\e936";
}
.efn02-wheel-arches:before {
  content: "\e938";
}
.efn02-crankcase-protection:before {
  content: "\e935";
}
.efn02-car-roof-box:before {
  content: "\e932";
}
.efn02-car-seat:before {
  content: "\e933";
}
.efn02-car-audio:before {
  content: "\e93b";
}
.efn02-car-key:before {
  content: "\e939";
}
.efn02-speedometer:before {
  content: "\e937";
}
