@font-face {
  font-family: '09-heating-cooling-efn';
  src:  url('../../fonts/efn/09-heating-cooling-efn.eot?7873e9');
  src:  url('../../fonts/efn/09-heating-cooling-efn.eot?7873e9#iefix') format('embedded-opentype'),
    url('../../fonts/efn/09-heating-cooling-efn.woff2?7873e9') format('woff2'),
    url('../../fonts/efn/09-heating-cooling-efn.ttf?7873e9') format('truetype'),
    url('../../fonts/efn/09-heating-cooling-efn.woff?7873e9') format('woff'),
    url('../../fonts/efn/09-heating-cooling-efn.svg?7873e9#09-heating-cooling-efn') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="efn09-"], [class*=" efn09-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '09-heating-cooling-efn' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.efn09-gas-flame:before {
  content: "\e900";
}
.efn09-flame:before {
  content: "\e901";
}
.efn09-sun:before {
  content: "\e902";
}
.efn09-snowflake:before {
  content: "\e903";
}
.efn09-heating-cooling:before {
  content: "\e904";
}
.efn09-heating:before {
  content: "\e918";
}
.efn09-water-supply:before {
  content: "\e919";
}
.efn09-thermometer:before {
  content: "\e905";
}
.efn09-boiler:before {
  content: "\e91a";
}
.efn09-electric-boiler:before {
  content: "\e91b";
}
.efn09-gas-boiler:before {
  content: "\e91c";
}
.efn09-solid-fuel-boiler:before {
  content: "\e91d";
}
.efn09-water-heater:before {
  content: "\e91e";
}
.efn09-indirect-water-heater:before {
  content: "\e91f";
}
.efn09-expansion-tank:before {
  content: "\e920";
}
.efn09-solar-collector:before {
  content: "\e921";
}
.efn09-circulation-pump:before {
  content: "\e922";
}
.efn09-drainage-pump:before {
  content: "\e923";
}
.efn09-submersible-pumps:before {
  content: "\e924";
}
.efn09-water-pump:before {
  content: "\e925";
}
.efn09-water-meter:before {
  content: "\e926";
}
.efn09-water-valve:before {
  content: "\e927";
}
.efn09-water-filter:before {
  content: "\e928";
}
.efn09-pipes:before {
  content: "\e929";
}
.efn09-mixing-valve:before {
  content: "\e92a";
}
.efn09-chimney-pipes:before {
  content: "\e92b";
}
.efn09-coaxial-chimney:before {
  content: "\e92c";
}
.efn09-wind:before {
  content: "\e906";
}
.efn09-air-conditioner:before {
  content: "\e907";
}
.efn09-radiator:before {
  content: "\e908";
}
.efn09-electric-radiator:before {
  content: "\e909";
}
.efn09-floor-convector:before {
  content: "\e92d";
}
.efn09-convector:before {
  content: "\e90a";
}
.efn09-oil-radiator:before {
  content: "\e90b";
}
.efn09-infrared-heater:before {
  content: "\e90c";
}
.efn09-carbon-heater:before {
  content: "\e90d";
}
.efn09-halogen-heater:before {
  content: "\e90e";
}
.efn09-gas-heater:before {
  content: "\e90f";
}
.efn09-kerosene-heater:before {
  content: "\e910";
}
.efn09-electric-fireplace:before {
  content: "\e911";
}
.efn09-fireplace-insert:before {
  content: "\e912";
}
.efn09-fireplace:before {
  content: "\e913";
}
.efn09-fan:before {
  content: "\e914";
}
.efn09-fan-heater:before {
  content: "\e915";
}
.efn09-forced-air-heater:before {
  content: "\e916";
}
.efn09-thermostat:before {
  content: "\e92e";
}
.efn09-warm-floor:before {
  content: "\e917";
}
.efn09-warm-water-floor:before {
  content: "\e92f";
}
