@font-face {
  font-family: '27-hygiene-cosmetics-efn';
  src:  url('../../fonts/efn/27-hygiene-cosmetics-efn.eot?k0jwkp');
  src:  url('../../fonts/efn/27-hygiene-cosmetics-efn.eot?k0jwkp#iefix') format('embedded-opentype'),
    url('../../fonts/efn/27-hygiene-cosmetics-efn.ttf?k0jwkp') format('truetype'),
    url('../../fonts/efn/27-hygiene-cosmetics-efn.woff?k0jwkp') format('woff'),
    url('../../fonts/efn/27-hygiene-cosmetics-efn.svg?k0jwkp#27-hygiene-cosmetics-efn') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="efn27-"], [class*=" efn27-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '27-hygiene-cosmetics-efn' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.efn27-woman-face:before {
  content: "\e900";
}
.efn27-man-face:before {
  content: "\e901";
}
.efn27-eyebrows:before {
  content: "\e902";
}
.efn27-eyelashes:before {
  content: "\e903";
}
.efn27-lips:before {
  content: "\e904";
}
.efn27-fingernails:before {
  content: "\e905";
}
.efn27-body-back:before {
  content: "\e906";
}
.efn27-hand:before {
  content: "\e907";
}
.efn27-leg:before {
  content: "\e908";
}
.efn27-cosmetic-cream:before {
  content: "\e909";
}
.efn27-medical-cosmetics:before {
  content: "\e90a";
}
.efn27-cosmetics:before {
  content: "\e90b";
}
.efn27-decorative-cosmetics:before {
  content: "\e90c";
}
.efn27-compact-powder:before {
  content: "\e90d";
}
.efn27-lipstick:before {
  content: "\e90e";
}
.efn27-nail-polish:before {
  content: "\e90f";
}
.efn27-mascara:before {
  content: "\e910";
}
.efn27-eyeshadows:before {
  content: "\e911";
}
.efn27-perfume:before {
  content: "\e912";
}
.efn27-hair-spray:before {
  content: "\e913";
}
.efn27-makeup-mirror:before {
  content: "\e914";
}
.efn27-suntan-cream:before {
  content: "\e915";
}
.efn27-eco-leaf:before {
  content: "\e916";
}
.efn27-gift:before {
  content: "\e917";
}
.efn27-razor:before {
  content: "\e918";
}
.efn27-shaving-foam:before {
  content: "\e919";
}
.efn27-hygiene-products:before {
  content: "\e91a";
}
.efn27-liquid-soap:before {
  content: "\e91b";
}
.efn27-soap:before {
  content: "\e91c";
}
.efn27-bath-salt:before {
  content: "\e91d";
}
.efn27-shampoo-conditioner:before {
  content: "\e91e";
}
.efn27-shampoo:before {
  content: "\e91f";
}
.efn27-shower-gel:before {
  content: "\e920";
}
.efn27-female-pad:before {
  content: "\e921";
}
.efn27-panty-liner:before {
  content: "\e922";
}
.efn27-tampon:before {
  content: "\e923";
}
.efn27-oral-care:before {
  content: "\e924";
}
.efn27-mouthwash:before {
  content: "\e925";
}
.efn27-dental-floss:before {
  content: "\e926";
}
.efn27-cotton-pads:before {
  content: "\e927";
}
.efn27-cotton-swabs:before {
  content: "\e928";
}
.efn27-deodorant:before {
  content: "\e929";
}
.efn27-napkins-19:before {
  content: "\e92a";
}
.efn27-wet-wipes:before {
  content: "\e92b";
}
.efn27-toilet-paper:before {
  content: "\e92c";
}
.efn27-paper-towel:before {
  content: "\e92d";
}
.efn27-hand-hygiene:before {
  content: "\e92e";
}
.efn27-hygiene:before {
  content: "\e92f";
}
.efn27-sanitizer:before {
  content: "\e930";
}
