@font-face {
  font-family: '29-kitchen-equipment-efn';
  src:  url('../../fonts/efn/29-kitchen-equipment-efn.eot?uc81py');
  src:  url('../../fonts/efn/29-kitchen-equipment-efn.eot?uc81py#iefix') format('embedded-opentype'),
    url('../../fonts/efn/29-kitchen-equipment-efn.ttf?uc81py') format('truetype'),
    url('../../fonts/efn/29-kitchen-equipment-efn.woff?uc81py') format('woff'),
    url('../../fonts/efn/29-kitchen-equipment-efn.svg?uc81py#29-kitchen-equipment-efn') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="efn29-"], [class*=" efn29-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '29-kitchen-equipment-efn' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.efn29-pan:before {
  content: "\e900";
}
.efn29-pans:before {
  content: "\e901";
}
.efn29-frying-pan:before {
  content: "\e902";
}
.efn29-fryingpan:before {
  content: "\e903";
}
.efn29-saucepan:before {
  content: "\e904";
}
.efn29-plates:before {
  content: "\e905";
}
.efn29-kitchen-utensils:before {
  content: "\e906";
}
.efn29-cutlery:before {
  content: "\e907";
}
.efn29-spoon-fork:before {
  content: "\e908";
}
.efn29-cutting-board:before {
  content: "\e909";
}
.efn29-knives:before {
  content: "\e90a";
}
.efn29-knives-set:before {
  content: "\e90b";
}
.efn29-kitchen-knives:before {
  content: "\e90c";
}
.efn29-food-containers:before {
  content: "\e90d";
}
.efn29-canning:before {
  content: "\e90e";
}
.efn29-whisk:before {
  content: "\e90f";
}
.efn29-cezve:before {
  content: "\e910";
}
.efn29-grater:before {
  content: "\e911";
}
.efn29-kitchen-scales:before {
  content: "\e912";
}
.efn29-manual-juicer:before {
  content: "\e913";
}
.efn29-kettle:before {
  content: "\e914";
}
.efn29-chef-hat:before {
  content: "\e915";
}
.efn29-apron:before {
  content: "\e916";
}
.efn29-oven-mitt:before {
  content: "\e917";
}
