/***TABS***/
.sale-order-tabs-block{
	width: 100vw;
	margin-left: -moz-calc((100vw - 100%) / -2);
	margin-left: -webkit-calc((100vw  - 100%) / -2);
	margin-left: calc((100vw - 100%) / -2);
	margin-top: -40px;
	margin-bottom: 32px;
	background: #f1f6f7;
}

.slide-menu-option-1-active .sale-order-tabs-block{
	width: -moz-calc(100vw - 324px);
	width: -webkit-calc(100vw - 324px);
	width: calc(100vw - 324px);
	margin-left: -moz-calc((100vw - 324px - 100%) / -2);
	margin-left: -webkit-calc((100vw - 324px - 100%) / -2);
	margin-left: calc((100vw - 324px - 100%) / -2);
}

.slide-menu-interface-2-0-1-inner .sale-order-tabs-block,
.slide-menu-option-2 .sale-order-tabs-block{
	width: -moz-calc(100vw - 72px);
	width: -webkit-calc(100vw - 72px);
	width: calc(100vw - 72px);
	margin-left: -moz-calc((100vw - 72px - 100%) / -2);
	margin-left: -webkit-calc((100vw - 72px - 100%) / -2);
	margin-left: calc((100vw - 72px - 100%) / -2);
}

.sale-order-tabs-scroll{
	width: 1176px;
	margin-left: auto;
	margin-right: auto;	
	position: relative;	
}

.sale-order-tabs-scroll .owl-prev,
.sale-order-tabs-scroll .owl-next{
	width: 64px;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 200;
	cursor: pointer;
}

.sale-order-tabs-scroll .owl-prev.disabled,
.sale-order-tabs-scroll .owl-next.disabled{
	display: none;
}

.sale-order-tabs-scroll .owl-prev{
	left: 0;
	background: -moz-linear-gradient(right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: -webkit-linear-gradient(right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: linear-gradient(to left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f6f7', endColorstr='#00f1f6f7', GradientType=1);
}

.sale-order-tabs-scroll .owl-next{
	align-items: flex-end;
	right: 0;	
	background: -moz-linear-gradient(left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: -webkit-linear-gradient(left, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	background: linear-gradient(to right, rgba(241, 246, 247, 0) 0px, #f1f6f7 44px, #f1f6f7 44px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f1f6f7', endColorstr='#f1f6f7', GradientType=1);
}

.sale-order-tabs-scroll .owl-prev i,
.sale-order-tabs-scroll .owl-next i{	
	font-size: 16px;
	color: #b2c7cb;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .sale-order-tabs-scroll .owl-prev:hover i,
.bx-touch .sale-order-tabs-scroll .owl-prev:active i,
.bx-no-touch .sale-order-tabs-scroll .owl-next:hover i,
.bx-touch .sale-order-tabs-scroll .owl-next:active i{
	color: #6639b6;
}

.sale-order-tabs-list{
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.sale-order-tabs-list:after{	
	display: table;
	clear: both;
	content: "";
}

.sale-order-tab{
	float: left;
}

.sale-order-tab-link:link,
.sale-order-tab-link:visited{
	height: 56px;
	display: table-cell;
	vertical-align: middle;
	padding: 0 24px;
	position: relative;	
	color: #263238;
	text-decoration: none;
	white-space: nowrap;
}

.bx-no-touch .sale-order-tab-link:hover,
.bx-touch .sale-order-tab-link:active{
	color: #6639b6;
}

.sale-order-tab-link:after{	
	height: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	background: #6639b6;
}

.sale-order-tab.active .sale-order-tab-link:after{
	height: 2px;
}

.sale-order-tab-count{
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	padding: 2px 5px 1px;
	font-size: 11px;
	color: #566b75;
	line-height: 13px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background: #ced9db;
}

/***ITEM***/
.sale-order-item-container{
	margin-bottom: 30px;
	position: relative;
}

.sale-order-item-container.hover{
	z-index: 202;
}

.sale-order-item{
	width: 100%;
	padding: 24px;	
	border: 1px solid #e8edef;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;	
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.sale-order-item-container.hover .sale-order-item{		
	width: auto;
	position: absolute;
	left: 12px;
	right: 12px;
	top: 0;	
	-webkit-box-shadow: 0 0 36px rgba(85, 104, 110, 0.18);
	-moz-box-shadow: 0 0 36px rgba(85, 104, 110, 0.18);
	box-shadow: 0 0 36px rgba(85, 104, 110, 0.18);
}

/***ITEM_IMAGE***/
.sale-order-item-image-wrapper{
	width: 100%;
	height: 222px;
	display: table;
	position: relative;	
}

.sale-order-item-image:link,
.sale-order-item-image:visited{
	display: table-cell;	
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
}

.sale-order-item-image > img{
	max-width: 222px;
	max-height: 222px;
}

/***ITEM_STICKER***/
.sale-order-item-sticker-wrap{
	display: flex;
	position: absolute;
	left: -13px;
	right: -13px;
	top: -13px;
}

.sale-order-item-sticker{
	padding: 6px 12px 5px;
	font-size: 14px;
	color: #263238;
	text-overflow: ellipsis;
	line-height: 17px;
	white-space: nowrap;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background: #e1ecc9;
	overflow: hidden;
}

.sale-order-item-sticker.n{
	background: #e1ecc9;
}

.sale-order-item-sticker.f{
	background: #e3ecef;
}

.sale-order-item-sticker.p{
	background: #c9d9ec;
}

.sale-order-item-sticker.canceled{
	background: #f2e2e1;
}

/***ITEM_DATE***/
.sale-order-item-date{
	margin-top: 18px;
	overflow: hidden;
	font-size: 14px;	
	color: #78909c;
	text-overflow: ellipsis;
	line-height: 17px;
	white-space: nowrap;
}

/***ITEM_TITLE***/
.sale-order-item-title:link,
.sale-order-item-title:visited{
	display: block;
	margin-top: 6px;
	overflow: hidden;
	font-family: "Museo Sans Cyrl 500", sans-serif;
	font-size: 20px;
	color: #263238;		
	text-decoration: none;
	text-overflow: ellipsis;
	line-height: 24px;
	white-space: nowrap;
}

.bx-no-touch .sale-order-item-title:hover,
.bx-touch .sale-order-item-title:active{
	color: #6639b6;
}

/***ITEM_INFO***/
.sale-order-item-info{
	margin-top: 6px;
	overflow: hidden;
	font-size: 14px;	
	color: #455a64;
	text-overflow: ellipsis;
	line-height: 17px;
	white-space: nowrap;
}

/***ITEM_BUTTONS***/
.sale-order-item-buttons{
	display: none;
	margin-top: 18px;
}

.sale-order-item-container.hover .sale-order-item-buttons{
	display: block;
}

.sale-order-item-buttons .btn{	
	width: 100%;	
}

.sale-order-item-buttons .btn + .btn{
	margin-top: 12px;
}

/***PHONES***/
@media(max-width: 1042px){
	.sale-order-list{
		margin-top: -32px;
	}

	/***TABS***/
	.sale-order-tabs-block,
	.slide-menu-interface-2-0-1-inner .sale-order-tabs-block,
	.slide-menu-option-1-active .sale-order-tabs-block,
	.slide-menu-option-2 .sale-order-tabs-block{
		width: unset;
		margin: 0 -18px;
	}

	.sale-order-tabs-scroll{
		width: unset;
		margin: 0;
	}

	.sale-order-tabs-scroll .owl-prev{
		padding-left: 18px;
	}
	
	.sale-order-tabs-scroll .owl-next{
		padding-right: 18px;
	}
	
	/***ITEM***/
	.sale-order-item-container{
		height: auto !important;
		margin: 0;
		padding: 0 !important;
		position: static !important;
	}
	
	.sale-order-item{
		padding: 18px;		
		border-left: none;
		border-right: none;
		border-top: none;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		border-radius: 0;
	}

	.sale-order-item-container.hover .sale-order-item{				
		position: static;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	/***ITEM_IMAGE***/
	.sale-order-item-image-wrapper{
		height: 163px;
	}
	
	.sale-order-item-image > img{
		max-width: 163px;
		max-height: 163px;
	}
	
	/***ITEM_STICKER***/
	.sale-order-item-sticker-wrap{
		left: 0;
		right: 0;
		top: 0;
	}
	
	/***ITEM_DATE***/
	/***ITEM_TITLE***/
	/***ITEM_INFO***/
	.sale-order-item-date,
	.sale-order-item-title:link,
	.sale-order-item-title:visited,
	.sale-order-item-info{
		overflow: visible;
		text-overflow: unset;
		white-space: normal;
	}
	
	/***ITEM_BUTTONS***/
	.sale-order-item-buttons{
		display: block;
	}
	
	/***ALERT***/
	.sale-order-alert{
		margin-top: 32px;
	}
}

/***DESKTOPS***/
@media(min-width: 1043px) and (max-width: 1271px){
	/***ITEM_IMAGE***/
	.sale-order-item-image-wrapper{
		height: 163px;
	}

	.sale-order-item-image > img{
		max-width: 163px;
		max-height: 163px;
	}
}