@font-face {
  font-family: 'uinext2020min';
  src:  url('../fonts/uinext2020min.eot?t3jkg3');
  src:  url('../fonts/uinext2020min.eot?t3jkg3#iefix') format('embedded-opentype'),
    url('../fonts/uinext2020min.ttf?t3jkg3') format('truetype'),
    url('../fonts/uinext2020min.woff?t3jkg3') format('woff'),
    url('../fonts/uinext2020min.svg?t3jkg3#uinext2020min') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'uinext2020min' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e908";
}
.icon-bag-shop:before {
  content: "\e906";
}
.icon-card:before {
  content: "\e907";
}
.icon-cards:before {
  content: "\e907";
}
.icon-phone:before {
  content: "\e91d";
}
.icon-phone-call:before {
  content: "\e91e";
}
.icon-email:before {
  content: "\e913";
}
.icon-mail:before {
  content: "\e913";
}
.icon-delivery:before {
  content: "\e90e";
}
.icon-map-marker:before {
  content: "\e918";
}
.icon-map-maker:before {
  content: "\e918";
}
.icon-globe:before {
  content: "\e92f";
}
.icon-user:before {
  content: "\e92b";
}
.icon-user-circle:before {
  content: "\e935";
}
.icon-comment:before {
  content: "\e90c";
}
.icon-support:before {
  content: "\e930";
}
.icon-search:before {
  content: "\e924";
}
.icon-scale-plus:before {
  content: "\e923";
}
.icon-eye:before {
  content: "\e934";
}
.icon-compare:before {
  content: "\e931";
}
.icon-compare-arrows:before {
  content: "\e90d";
}
.icon-sliders:before {
  content: "\e926";
}
.icon-box-list:before {
  content: "\e936";
}
.icon-menu:before {
  content: "\e919";
}
.icon-dot-list:before {
  content: "\e910";
}
.icon-minus:before {
  content: "\e932";
}
.icon-discount:before {
  content: "\e90f";
}
.icon-gift:before {
  content: "\e914";
}
.icon-heart:before {
  content: "\e915";
}
.icon-heart-b:before {
  content: "\e915";
}
.icon-star:before {
  content: "\e927";
}
.icon-star-b:before {
  content: "\e927";
}
.icon-double-bolt:before {
  content: "\e911";
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-down-b:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-left-b:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-right-b:before {
  content: "\e902";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-arrow-up-b:before {
  content: "\e903";
}
.icon-ok:before {
  content: "\e91b";
}
.icon-ok-b:before {
  content: "\e91b";
}
.icon-back:before {
  content: "\e937";
}
.icon-ok-circle:before {
  content: "\e91c";
}
.icon-plus:before {
  content: "\e933";
}
.icon-close:before {
  content: "\e90a";
}
.icon-close-b:before {
  content: "\e90a";
}
.icon-trash:before {
  content: "\e929";
}
.icon-share:before {
  content: "\e925";
}
.icon-article:before {
  content: "\e904";
}
.icon-at:before {
  content: "\e905";
}
.icon-microphone:before {
  content: "\e91a";
}
.icon-wrench:before {
  content: "\e92c";
}
.icon-clock:before {
  content: "\e909";
}
.icon-question:before {
  content: "\e921";
}
.icon-repeat:before {
  content: "\e922";
}
.icon-repeat-b:before {
  content: "\e922";
}
.icon-dropper:before {
  content: "\e912";
}
.icon-print:before {
  content: "\e920";
}
.icon-unlock:before {
  content: "\e92a";
}
.icon-logout:before {
  content: "\e917";
}
.icon-heart-s:before {
  content: "\e916";
}
.icon-star-s:before {
  content: "\e928";
}
.icon-cog-s:before {
  content: "\e90b";
}
.icon-play-s:before {
  content: "\e91f";
}
.icon-altop:before {
  content: "\e92d";
}
.icon-elasto:before {
  content: "\e92e";
}
