.bx_subscribe_item_container{
	position: relative;
	margin-bottom: 24px;
}

.bx_subscribe_item_container:hover{
    z-index: 200;
}

.bx_subscribe_item{
	width: 100%;
    padding: 24px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8edef;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
}

.bx_subscribe_item_container:hover .bx_subscribe_item{
	position: absolute;
    left: 0;
    top: 0;
    -webkit-box-shadow: 0 0 36px rgba(85, 104, 110, 0.18);
    -moz-box-shadow: 0 0 36px rgba(85, 104, 110, 0.18);
    box-shadow: 0 0 36px rgba(85, 104, 110, 0.18);
}

.bx_subscribe_item_images_wrapper{
	width: 100%;
    height: 222px;
    display: table;
    position: relative;
}

.bx_subscribe_item_images{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}

.bx_subscribe_item_images > img{
    max-width: 222px;
    max-height: 222px;
}

.bx_subscribe_item_title{
    height: 38px;
    margin-top: 18px;
    overflow: hidden;
}

.bx_subscribe_item_title > a:link,
.bx_subscribe_item_title > a:visited{
    display: block;
	color: #263238;
    text-decoration: none;    
}

.bx_subscribe_item_scu_container{
	width: 100%;
    display: none;
    height: 54px;
    margin-top: 12px;
}

.bx_subscribe_item_container:hover .bx_subscribe_item_scu_container{
	display: table;
}

.bx_subscribe_item_scu_block{
	max-width: 0;
    display: table-cell;
    vertical-align: bottom;
}

.bx_subscribe_item_scu_hidden{
	display: none;
}

.bx_subscribe_item_container:hover .bx_subscribe_item_scu_hidden{
	display: block;
}

.bx_subscribe_item_scu_pict,
.bx_subscribe_item_scu_size{
	padding-bottom: 12px;
}

.bx_subscribe_item_scu_pict_title,
.bx_subscribe_item_scu_size_title{
    color: #263238;
}

.bx_subscribe_item_scu_pict_title{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.bx_subscribe_item_scu_pict_title > span{
	padding-left: 3px;
	font-size: 14px;
	color: #78909c;
	line-height: 17px;
}

.bx_subscribe_item_scu_pict_val,
.bx_subscribe_item_scu_size_val{
    margin-top: 2px;
}

.bx_scu_list{
	margin: 0 0 0 -6px;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.bx_scu_list_pict,
.bx_scu_list_size{
    float: left;
    margin-left: 6px;
    margin-top: 6px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
}

.bx_scu_list_pict{
    width: 36px;
	height: 36px;
	position: relative;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bx_scu_list_pict:before,
.bx_scu_list_pict:after{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.bx_scu_list_pict:before{
    content: none;
    border: 4px solid transparent;
}

.bx-no-touch .bx_scu_list_pict:hover:before,
.bx-touch .bx_scu_list_pict:active:before,
.bx_scu_list_pict.bx_active:before{
    content: "";
    border-color: #fff;
}

.bx_scu_list_pict:after{
    content: "";
    border: 2px solid #e3ecef;	
}

.bx-no-touch .bx_scu_list_pict:hover:after,
.bx-touch .bx_scu_list_pict:active:after{
    border-color: #78909c;
}

.bx_scu_list_pict.bx_active:after,
.bx-no-touch .bx_scu_list_pict.bx_active:hover:after,
.bx-touch .bx_scu_list_pict.bx_active:active:after{
    border-color: #6639b6;
}

.bx_scu_list_size{
	padding: 8px 15px 7px;
	color: #263238;	
	border: 2px solid #e3ecef;
}

.bx-no-touch .bx_scu_list_size:hover,
.bx-touch .bx_scu_list_size:active{
    color: #263238;
	border-color: #78909c;
	background: #e3ecef;
}

.bx_scu_list_size.bx_active,
.bx-no-touch .bx_scu_list_size.bx_active:hover,
.bx-touch .bx_scu_list_size.bx_active:active{
    color: #263238;
	border-color: #6639b6;
	background: rgba(102, 57, 182, 0.16);
}

.bx_subscribe_item_controls{
	width: 100%;
    display: table;
	margin-top: 12px;
}

.bx_subscribe_item_controls_block{
	width: 100%;
	display: table-cell;
	vertical-align: bottom;
}

.bx_subscribe_item_controls_block .btn.no-pad{
	width: 45px;
	margin-left: 8px;
	padding: 0;
}

.bx_subscribe_item_controls_block .btn.no-pad i{  
	padding-right: 0px;		
}

.csif-title-container{
    width: 100%;
    display: table;
    padding: 16px 24px;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background-color: #f1f6f7;
}

.csif-title-container:not(:first-child){
	margin-top: 18px;
}

.csif-title{
    position: relative;
}

.csif-title__icon{
    display: table-cell;
    vertical-align: middle;
    padding-right: 12px;
}

.csif-title__icon i{
    font-size: 23px;
    color: #b2c7cb;
}

.csif-title__val{
    display: table-cell;
    vertical-align: middle;   
    color: #263238;    
}

.csif-block-container{
    padding: 24px 23px;    
    color: #263238;    
    border: 1px solid #e3ecef;
    border-top: none;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -khtml-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 18px;
}

.csif-formgroup-container:not(:last-child){
    margin-bottom: 16px;
}

.csif-label-container{
	margin: 0px 0px 8px;
    font-size: 14px;
    color: #78909c;
	line-height: 17px;    
}

/***PHONES***/
@media(max-width: 1042px){
	.bx_subscribe_alert{
		margin-bottom: 32px;
	}

	.bx_subscribe{
		margin-top: -32px;
	}

	.bx_subscribe_item_container{
		height: auto !important;
		margin-left: -18px;
		margin-right: -18px;
		margin-bottom: 0;
	}

	.bx_subscribe_item{	
		display: table;
		padding: 18px;		
		border-left: none;
		border-right: none;
		border-top: none;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		border-radius: 0;
	}

	.bx-no-touch .bx_subscribe_item_container:hover .bx_subscribe_item,
	.bx-touch .bx_subscribe_item_container:active .bx_subscribe_item{
		position: static;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.bx_subscribe_item_images_wrapper{
		width: 100px;
		height: auto;
		display: table-cell;
		vertical-align: top;
		padding-right: 12px;
		position: static;		
	}

	.bx_subscribe_item_images{
		position: relative;
	}
	
	.bx_subscribe_item_images > img{
		width: auto;
		height: auto;
		max-width: 100px;
		max-height: 100px;
	}

	.bx_subscribe_item_title{
		height: auto;
	}

	.bx_subscribe_item_scu_container{
		height: auto;
		display: table;
	}

	.bx_subscribe_item_scu_hidden{
		display: block;
	}

	.bx_subscribe_item_controls{
		width: auto;
		float: right;
	}

	.bx_subscribe_item_controls_block{
		width: auto;
	}
	
	.bx_subscribe_item_controls_block .btn{
		width: 45px;
		padding: 0;
	}

	.bx_subscribe_item_controls_block .btn i{
		padding-right: 0;
	}

	.csif-title-container{
		padding: 10px 12px 11px;
	}

	.csif-block-container{
		padding: 12px 11px 0;
	}
	
	.csif-formgroup-container button[type="submit"]{
		width: 100%;
	}
}

/***DESKTOPS***/
@media(min-width: 1043px) and (max-width: 1271px){
	.bx_subscribe_item_images_wrapper{
		height: 163px;
	}

	.bx_subscribe_item_images > img{
		max-width: 163px;
		max-height: 163px;
	}

	.bx_subscribe_item_controls{
		display: flex;
	}

	.bx_subscribe_item_controls_block:first-child{
		max-width: 115px;
		display: unset;
	}
	
	.bx_subscribe_item_controls_block:last-child{
		width: 45px;
		display: unset;
		margin-left: 8px;
	}

	.bx_subscribe_item_controls_block > .btn{
		width: 100% !important;
		margin: 0 !important;
	}

	.bx_subscribe_item_controls_block > .btn:not(.no-pad) span{
		overflow: hidden;
		text-overflow: ellipsis;
	}
}