.sale-order-buttons-container{
	display: flex;
	margin-bottom: 15px;
}

.sale-order-buttons-container a{
	margin: 0px 0px 0px 8px;
}

.sale-order-cancel-container .form-group label{
	text-align: left;
}

/***PHONES***/
@media(max-width: 1042px){
	.sale-order-buttons-container{
		display: block;
	}

	.sale-order-buttons-container input[type="submit"]{
		width: 100%;
	}

	.sale-order-buttons-container a{
		display: flex;
		margin: 6px 0 0 0;
	}
}